* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --general-background: #000;
    --title-color: #6fce91;
    --title-highlight: #b4ffce;
    --input-color: #e4f9f5;
    --outbox-color: whitesmoke;
    --placeholder-color: #1b3f39;
    --gradient-light:#D0D0D0;
    --gradient-dark: #000;
    
    /*--general-background: #fff;
    --title-color: #550f02;
    --title-highlight: #f5270c;
    --input-color: #464646;
    --outbox-color: #666;
    --placeholder-color: #e7890e;
    --gradient-light:#f79647;
    --gradient-dark:#550f02;*/
    
    --font: 'Quicksand', sans-serif;
    --btn_font: 'Montserrat', sans-serif;
}

body {
    background: var(--general-background);
}

html {
    height: 100%;
    width: 100%;
    background: #000;
}

.header {
    background-color: var(--general-background);
    display: flex;
    height: 25%;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    
}

.logo {
    width: 55px;
    margin-right: 4%
}

.title {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 5%;
    color:var(--title-color);
    font-family: var(--font);
    font-weight: lighter;
    font-size: 2.5rem;
}

.title:hover {
    font-weight: 500;
    color: var(--title-highlight);   
}

#message_box {
    height: 60vh;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-items: space-evenly;
    padding-left: 10%;
}

.text_box {
    border-radius: 20px;
    width: 100%;
}

#txt_input, #outMessage {
    width: 80%;
    border-radius: 20px;
    height: 100%;
    padding: 2%;
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 600;
}

#txt_input {
    background-color: var(--input-color);
    
}

#outMessage {
    background-color: var(--outbox-color) ;  
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#txt_input:focus, #outMessage:focus {
    border: none;
    outline: none;
}

::placeholder {
    color: var(--placeholder-color);
    font-family: var(--font);
    font-weight: 300;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    margin-left: 1%;
    justify-content: space-around;
    padding-top: 2%;
}

.button {
    background: linear-gradient(var(--gradient-light), var(--gradient-dark));
    border-radius: 15px;
    font-family: var(--btn_font);
    color: white;
    font-size: 1.3rem;
    width: 15%;
    height: 3.5rem;
}

.button:hover, #copy_btn:hover {
    box-shadow: 10px 10px 10px var(--title-color);
    color: var(--title-color);
}

#copy_btn {
    position: relative;
    background: linear-gradient(var(--gradient-dark), var(--gradient-light));
    border-radius: 15px;
    font-family: var(--btn_font);
    color: white;
    font-size: 1.3rem;
    width: 15%;
    height: 3.5rem;
}

.button:active, #copy_btn:active {
    transform: scale(1.05);
     background: linear-gradient(var(--gradient-dark), var(--gradient-light));
}

#copy_btn:active {
    transform: scale(1.05);
    background: linear-gradient(var(--gradient-light), var(--gradient-dark));
}
.footer {
    padding: 2%;
    max-height: 5%;
}

footer p {
    font-family: var(--font);
    font-size: smaller;
    color: #FFF;
    text-align: right;
}

