*{
margin:0;
padding: 0;
box-sizing: border-box;     
}

html {
  height: 100%;
  width: 100%;   
}
header {
    background-color: #000;
    height: 25%;
}

.logo {
    width: 55px;  
    float: right; 
    margin-right: 6.1%;
    margin-top: 3%;
}

.title {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 5.9%;
}

h1 {
    color : #6fce91;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
}

main {
    background-color: #000;
    /*background: linear-gradient(black, lightgrey); */
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;   
}

.message_box { 
    /* width: 100%; */
    height: 40%;
    display: block;
    background: transparent;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;    
}

 .txt_input {
    width: 34%;
    height: 40%;
    background-color: #e4f9f5; 
    border-radius: 20px;
    float: left;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin: 2% 10px 2% 6%;
} 

.text-input:focus { 
    border: none;
    outline: none;

}

::placeholder { 
    color: slategray;
    font-family: 'Quicksand', sans-serif;
}

 .outMessage {  
    width: 34%;
    height: 40%;
    background-color: whitesmoke; 
    border-radius: 20px;
    float: right;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin: 2% 6% 2% 1%;
    background-image:url("../Images/lock.png") ;
    background-size: 60%;
    background-repeat: no-repeat; 
    background-position: 60%;
 }

.buttons {
    display: inline-block;
    margin: 2.5% 0 2.5% 2.5%;
    width: 98%;
}

.encode_btn {
    position: relative;
    /* display: inline-block; */
    background:linear-gradient(#D0D0D0, black);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3em;
    width: 15%;
    height: 2.5em;
    margin-left: 4%;
}

.encode_btn:active {
    
    background:linear-gradient(black, #D0D0D0);
        box-shadow: 0 2px #666;
        transform: translateY(1.5%);  
 }

 #copy_btn {
    position: relative;
    background:linear-gradient(black, #D0D0D0);
   /* background:linear-gradient(#FFEBCD,#612a11);*/ 
     border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3em;
    width: 15%;
    height: 2.5em;
    margin-left: 40%;
}

#copy_btn:active {   
    background:linear-gradient(#D0D0D0, #FFFFFF);
    /*background:linear-gradient(#612a11, #FFEBCD);*/
        box-shadow: 0 2px #666;
        transform: translateY(1%);
}    

.footer {
    position:fixed;
    z-index: 1;
    bottom:0; 
    width: 100vw;
    max-height:10%;
    background-color: #000;
}

footer p {
    font-family: 'Quicksand', sans-serif;
    color: #FFF;
 
    position: relative;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
}
